<div class="row">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Sortings</label>
    </div>
    <select id="inputGroupSelect01" (change)="sortingProductList($event.target.value)">
      <option value="sortByNameAsc">Sort by name ASC</option>
      <option value="sortByNameDesc" >Sort by name Desc</option>
      <option value="sortByPriceHTL" >Sort by price HTL</option>
      <option value="sortByPriceLTH" >Sort by price LTH</option>
    </select>
  </div>
  
  <div class="col-md-4" *ngFor="let product of productList">
    <app-product-item [productItem]="product"></app-product-item>
  </div>
</div>
